@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Heebo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Dosis", sans-serif;
}
/* navbar */
.navbar_hb {
  /* background-color: #6C3428; */
  /* background-color: #ba704f; */
  /* background-color: #dfa878; */
  background-color: #cee6f3;
}
.nav_link_hb {
  color: black;
}
.nav_link_hb:hover {
  color: #6c3428;
}
.offcanvas_hb {
  background-color: #cee6f3;
}

/* menu page sub_navbar */
.sub_navbar_hb {
  background-color: white;
  position: sticky;
  z-index: 3;
  top: 0px;
}
.sub_navlink_hb {
  color: black;
}
.sub_navlink_hb:hover {
  color: #6c3428;
}
/* search_bar */
.search_btn_hb:hover {
  background-color: #6c3428;
  border-color: #6c3428;
}
.menu_img:hover {
  transform: scale(1.05);
}
/* account_page */
.sign_in_header {
  color: #6c3428;
}
.upper_div_hb {
  background-color: #cee6f3;
}
.create_account_btn_hb,
.sign_in_btn_hb,
.go_acc_pg_btnAtreward_hb {
  background-color: #6c3428;
  color: white;
}
.forget_psw_hb,
.rewards_hb {
  color: #6c3428;
}

.contact_ul_hb,
.footer_ul_hb {
  list-style-type: none;
}

.contact_li_hb,
.footer_li_hb {
  color: black;
}
/* reward page */
.reward_text_hb {
  align-items: center;
}

.promo_bg_hb {
  background-color: white;
}

.question_hb {
  color: black;
  margin-left: auto;
}
